Repository infsys-lab/privacy-glue: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-lint, python-style, python-deploy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-lint
        name: flake8
        entry: poetry run black --diff --check .
        language: system
        files: ^src/|^tests/|^pyproject\.toml$|^poetry\.lock$|^\.flake8$
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: python-style
        name: black
        entry: poetry run flake8 --show-source --statistics .
        language: system
        files: ^src/|^tests/|^pyproject\.toml$|^poetry\.lock$|^\.flake8$
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: python-deploy
        name: poetry-export
        entry: |
          poetry export -f requirements.txt --without-hashes -o requirements.txt
          poetry export -f requirements.txt --without-hashes --dev -o requirements-dev.txt
        language: system
        files: ^pyproject\.toml$|^poetry\.lock$
        types: [file]
        pass_filenames: false

  - repo: local
    hooks:
      - id: shell-lint
        name: shellcheck
        entry: find scripts -type f -print0 | xargs -0 shellcheck
        language: system
        files: ^scripts/
        types: [shell]
        pass_filenames: false

  - repo: local
    hooks:
      - id: shell-style
        name: shfmt
        entry: find scripts -type f -print0 | xargs -0 shfmt -i 2 --diff
        language: system
        files: ^scripts/
        types: [shell]
        pass_filenames: false

Update pre-commit configuration
  .pre-commit-config.yaml
Due: none

Update python development dependencies
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: python-deploy

Update GitHub workflows
  .github/workflows/shell-static.yml
Due: none

Update GitHub workflows again
  .github/workflows/deploy.yml
  .github/workflows/python-static.yml
  .github/workflows/shell-static.yml
Due: none

Remove implicit venv creation from poetry
  .github/actions/setup-poetry/action.yml
Due: none

Bugfix wrong argument to shfmt (old version)
  .github/workflows/shell-static.yml
  .pre-commit-config.yaml
Due: none

Combine all `prepare_*` scripts for clarity
  scripts/prepare.sh
  scripts/prepare_data.sh
Due: none

Update readme with new workflows
  README.md
Due: none

Remove multi-line from pre-commit configuration
  .pre-commit-config.yaml
Due: none

Remove extra newline from `deploy.yml`
  .github/workflows/deploy.yml
Due: none

Fix wrong step order in GitHub workflow
  .github/workflows/shell-static.yml
Due: none

Update GitHub workflows
  .github/workflows/shell-static.yml
  .github/workflows/static.yml
Due: none

Update GitHub workflows
  .github/actions/setup-poetry/action.yml
  .github/workflows/build.yml
  .github/workflows/static.yml
Due: none

Bugfix composite action
  .github/actions/setup-poetry/action.yml
Due: none

Update readme
  README.md
Due: none

Update readme with task table
  README.md
Due: none

Compress readme columns
  README.md
Due: none

Update readme table with superscripts
  README.md
Due: none

Readme spellfixes
  README.md
Due: none

Move tests one directory deeper
  tests/tasks/test_load_opp_115.py
  tests/tasks/test_load_piextract.py
  tests/tasks/test_load_policy_detection.py
  tests/tasks/test_load_policy_ie_a.py
  tests/tasks/test_load_policy_ie_b.py
  tests/tasks/test_load_policy_qa.py
  tests/tasks/test_load_privacy_qa.py
  tests/tasks/test_merge_ner_tags.py
  tests/tasks/test_read_conll_file.py
Due: python-lint, python-style

Adjust tests structure again
  tests/tasks/test_load_piextract.py
  tests/tasks/test_merge_ner_tags.py
  tests/tasks/test_opp_115.py
  tests/tasks/test_piextract.py
  tests/tasks/test_policy_detection.py
  tests/tasks/test_policy_ie_a.py
  tests/tasks/test_policy_ie_b.py
  tests/tasks/test_policy_qa.py
  tests/tasks/test_privacy_qa.py
  tests/tasks/test_read_conll_file.py
Due: python-lint, python-style

Add new test for `logging_utils.py`
  tests/utils/test_logging_utils.py
Due: python-lint, python-style

Rename `add_stream_handler` to `init_logger`
  src/privacy_glue.py
  src/utils/logging_utils.py
Due: python-lint, python-style

Update `pyproject.toml`
  pyproject.toml
Due: python-deploy

Update `parser.py` and `parser_utils.py`
  src/parser.py
  src/utils/parser_utils.py
Due: python-lint, python-style

Add failing test cases
  tests/test_parser.py
  tests/utils/test_parser_utils.py
Due: python-lint, python-style

Modify python version in readme
  README.md
Due: none

Modify python version in composite action
  .github/actions/setup-poetry/action.yml
Due: none

Add triggers on CI configuration changes
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/static.yml
Due: none

Update GitHub workflows configurations
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: none

Add new submodule `policy-detection-data`
  .gitmodules
Due: none

Update `prepare.sh`
  scripts/prepare.sh
Due: none

Add `conftest.py`
  tests/conftest.py
Due: python-lint, python-style

Revert "Modify python version in composite action"
  .github/actions/setup-poetry/action.yml
Due: none

Revert "Modify python version in readme"
  README.md
Due: none

Update `conftest.py`
  tests/conftest.py
Due: python-lint, python-style

Update tests for `policy_detection`
  tests/data/policy_detection/split_ids.json
  tests/tasks/test_policy_detection.py
Due: python-lint, python-style

Update `src/tasks/policy_detection.py`
  src/tasks/policy_detection.py
Due: python-lint, python-style
