Repository infsys-lab/privacy-glue: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-lint, python-style, python-deploy-main, python-deploy-dev

python-lint:
  name: flake8
  entry: poetry run black --diff --check .
  language: system
  pass_filenames: false

python-style:
  name: black
  entry: poetry run flake8 --show-source --statistics .
  language: system
  pass_filenames: false

python-deploy-main:
  name: poetry-export-main
  entry: 'poetry export -f requirements.txt --without-hashes -o requirements.txt
  
    '
  language: system
  pass_filenames: false

python-deploy-dev:
  name: poetry-export-dev
  entry: 'poetry export -f requirements.txt --without-hashes --dev -o requirements-dev.txt
  
    '
  language: system
  pass_filenames: false

Patch tests for PolicyQA
  tests/data/policy_qa/dev.json
  tests/data/policy_qa/test.json
  tests/data/policy_qa/train.json
  tests/tasks/test_policy_qa.py
Due: python-lint, python-style

Patch tests for PrivacyQA
  tests/data/privacy_qa/policy_test.tsv
  tests/data/privacy_qa/policy_train.tsv
  tests/tasks/test_privacy_qa.py
Due: python-lint, python-style

Patch tests for PolicyIE-A
  tests/data/policy_ie_a/test/label
  tests/data/policy_ie_a/test/seq.in
  tests/data/policy_ie_a/train/label
  tests/data/policy_ie_a/train/seq.in
  tests/data/policy_ie_a/valid/label
  tests/data/policy_ie_a/valid/seq.in
  tests/tasks/test_policy_ie_a.py
Due: python-lint, python-style

Re-order methods in `pipeline_utils.py`
  src/utils/pipeline_utils.py
Due: python-lint, python-style

Patch tests for OPP-115
  tests/data/opp_115/test_dataset.csv
  tests/data/opp_115/train_dataset.csv
  tests/data/opp_115/validation_dataset.csv
  tests/tasks/test_opp_115.py
Due: python-lint, python-style

Update python dependencies
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: python-deploy-main, python-deploy-dev

Update `prepare.sh`
  scripts/prepare.sh
Due: none

Patch tests for Policy-Detection
  tests/data/policy_detection/1301_dataset.csv
  tests/tasks/test_policy_detection.py
Due: python-lint, python-style

Patch tests for PI-Extract
  tests/data/piextract/CollectUse_false/train.conll03
  tests/data/piextract/CollectUse_false/validation.conll03
  tests/data/piextract/CollectUse_true/train.conll03
  tests/data/piextract/CollectUse_true/validation.conll03
  tests/data/piextract/Share_false/train.conll03
  tests/data/piextract/Share_false/validation.conll03
  tests/data/piextract/Share_true/train.conll03
  tests/data/piextract/Share_true/validation.conll03
  tests/tasks/test_piextract.py
Due: python-lint, python-style

Major update to task-loading functions
  src/tasks/piextract.py
  src/tasks/policy_detection.py
  src/tasks/privacy_qa.py
  tests/data/policy_detection/split_ids.json
  tests/tasks/test_piextract.py
  tests/tasks/test_policy_detection.py
  tests/tasks/test_privacy_qa.py
Due: python-lint, python-style

Add new test for `datasets` random splits
  tests/tasks/test_datasets_random_split.py
Due: python-lint, python-style

Patch tests for PolicyIE-B
  tests/data/policy_ie_b/test/seq.in
  tests/data/policy_ie_b/test/seq_type_I.out
  tests/data/policy_ie_b/test/seq_type_II.out
  tests/data/policy_ie_b/train/seq.in
  tests/data/policy_ie_b/train/seq_type_I.out
  tests/data/policy_ie_b/train/seq_type_II.out
  tests/data/policy_ie_b/valid/seq.in
  tests/data/policy_ie_b/valid/seq_type_I.out
  tests/data/policy_ie_b/valid/seq_type_II.out
  tests/tasks/test_policy_ie_b.py
Due: python-lint, python-style

Patch all task unit tests
  tests/tasks/test_datasets_random_split.py
  tests/tasks/test_opp_115.py
  tests/tasks/test_piextract.py
  tests/tasks/test_policy_detection.py
  tests/tasks/test_policy_ie_a.py
  tests/tasks/test_policy_ie_b.py
  tests/tasks/test_policy_qa.py
  tests/tasks/test_privacy_qa.py
Due: python-lint, python-style

Update `pyproject.toml`
  pyproject.toml
Due: python-deploy-main, python-deploy-dev

Update readme with `torch` dependency information
  README.md
Due: none

Update license in `pyproject.toml`
  pyproject.toml
Due: python-deploy-main, python-deploy-dev

Update GitHub workfow composite action
  .github/actions/setup-poetry/action.yml
Due: none

Bugfix composite action
  .github/actions/setup-poetry/action.yml
Due: none

Update readme
  README.md
Due: none

Squashed commit for changes to multiprocessing feature
  scripts/run_privacy_glue.sh
  src/parser.py
  src/privacy_glue.py
  src/sequence_classification.py
  src/tasks/opp_115.py
Due: python-lint, python-style

add scikit learn to the dependencies.
  poetry.lock
  pyproject.toml
Due: python-deploy-main, python-deploy-dev

update requirements
  requirements-dev.txt
  requirements.txt
Due: none

Fix model name for SBERT `all-mpnet-base-v2`
  src/parser.py
Due: python-lint, python-style

Patch tests for updated model name in parser
  tests/test_parser.py
Due: python-lint, python-style

Patch `Privacy_GLUE_Pipeline` class
  src/utils/pipeline_utils.py
Due: python-lint, python-style

Simplify `_init_third_party_loggers` method
  src/utils/pipeline_utils.py
Due: python-lint, python-style

Update global gitignore
  .gitignore
Due: none

Path conditions:
  python-lint: any of: ^src/|^tests/|^pyproject\.toml$|^poetry\.lock$|^\.flake8$ and \.py$
  python-style: any of: ^src/|^tests/|^pyproject\.toml$|^poetry\.lock$|^\.flake8$ and \.py$
  python-deploy-main: any of: ^pyproject\.toml$|^poetry\.lock$
  python-deploy-dev: any of: ^pyproject\.toml$|^poetry\.lock$
