Repository infsys-lab/privacy-glue: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-lint, python-style, python-deploy-main, python-deploy-dev

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-lint
        name: flake8
        entry: poetry run black --diff --check .
        language: system
        files: ^src/|^tests/|^pyproject\.toml$|^poetry\.lock$|^\.flake8$
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: python-style
        name: black
        entry: poetry run flake8 --show-source --statistics .
        language: system
        files: ^src/|^tests/|^pyproject\.toml$|^poetry\.lock$|^\.flake8$
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: python-deploy-main
        name: poetry-export-main
        entry: |
          poetry export -f requirements.txt --without-hashes -o requirements.txt
        language: system
        files: ^pyproject\.toml$|^poetry\.lock$
        types: [file]
        pass_filenames: false

  - repo: local
    hooks:
      - id: python-deploy-dev
        name: poetry-export-dev
        entry: |
          poetry export -f requirements.txt --without-hashes --dev -o requirements-dev.txt
        language: system
        files: ^pyproject\.toml$|^poetry\.lock$
        types: [file]
        pass_filenames: false

  - repo: local
    hooks:
      - id: shell-lint
        name: shellcheck
        entry: poetry run bash -c 'find ./scripts -type f -print0 | xargs -0 shellcheck'
        language: system
        files: ^scripts/
        types: [shell]
        pass_filenames: false

  - repo: local
    hooks:
      - id: shell-style
        name: shfmt
        entry: poetry run bash -c 'find ./scripts -type f -print0 | xargs -0 shfmt -i 2 -d'
        language: system
        files: ^scripts/
        types: [shell]
        pass_filenames: false

Add placeholder folder for test reports
  tests/reports/.gitignore
Due: none

Add Makefile for running tests
  Makefile
Due: none

Update readme with testing instructions for `Makefile`
  README.md
Due: none

Improve `Makefile` formatting
  Makefile
Due: none

add more tests and adapt some stuff in sequence tagging to test better
  src/sequence_tagging.py
  tests/conftest.py
  tests/test_sequence_tagging.py
Due: python-lint, python-style

Update integration tests
  tests/test_reproducibility.py
Due: python-lint, python-style

Add `@main_process_first_only` decorator to `summarize`
  src/utils/experiment_utils.py
Due: python-lint, python-style

Remove `--fp16_full_eval` from integration tests
  tests/test_reproducibility.py
Due: python-lint, python-style

Update `Makefile` and readme
  Makefile
  README.md
Due: none

Clarify minor details in readme
  README.md
Due: none

Update readme with usage details
  README.md
Due: none

Update `run_privacy_glue.sh`
  scripts/run_privacy_glue.sh
Due: none

Update readme with new default workers
  README.md
Due: none

Update default `preprocessing_num_workers` in tests
  tests/conftest.py
  tests/test_reading_comprehension.py
  tests/test_sequence_classification.py
Due: python-lint, python-style

unit tests for sequence tagging finished.
  src/sequence_tagging.py
  tests/test_sequence_tagging.py
Due: python-lint, python-style

little thing I overlooked
  tests/test_sequence_tagging.py
Due: python-lint, python-style

Make integration test skip cases more strict
  tests/test_reproducibility.py
Due: python-lint, python-style

Add further fixes to integration tests
  tests/conftest.py
  tests/test_reproducibility.py
Due: python-lint, python-style

Simplify integration tests significantly
  Makefile
  tests/test_reproducibility.py
Due: python-lint, python-style

Update readme integration test instructions
  README.md
Due: none

Bugfix wrong checkpoint directory in multi-gpu setting
  tests/test_reproducibility.py
Due: python-lint, python-style

Update `conftest.py` with CUDA settings
  tests/conftest.py
Due: python-lint, python-style

Update readme with new information on testing
  README.md
Due: none

Remove `early_stopping_patience` hack in integration testing
  tests/test_reproducibility.py
Due: python-lint, python-style

Update `pyproject.toml` and `conftest.py`
  pyproject.toml
  tests/conftest.py
Due: python-lint, python-style, python-deploy-main, python-deploy-dev

Update integration test arguments
  tests/test_reproducibility.py
Due: python-lint, python-style

Add default model revisions for reproducibility
  src/parser.py
  tests/test_parser.py
Due: python-lint, python-style

Update python dependencies
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: python-deploy-main, python-deploy-dev

Major change to default models
  scripts/run_privacy_glue.sh
  src/parser.py
  tests/test_parser.py
  tests/test_reproducibility.py
Due: python-lint, python-style

Bugfix `torchrun` runtime in integration testing
  tests/test_reproducibility.py
Due: python-lint, python-style
