Repository infsys-lab/privacy-glue: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-black, python-isort, python-flake8, ipynb-black, ipynb-isort, ipynb-flake8, poetry-export-main, poetry-export-dev

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-black
        name: python-black
        entry: poetry run black
        args: [--diff, --check]
        language: system
        files: ^src/|^tests/
        types: [python]

  - repo: local
    hooks:
      - id: python-isort
        name: python-isort
        entry: poetry run isort
        args: [--diff, --check-only]
        language: system
        files: ^src/|^tests/
        types: [python]

  - repo: local
    hooks:
      - id: python-flake8
        name: python-flake8
        entry: poetry run flake8
        args: [--show-source, --statistics]
        language: system
        files: ^src/|^tests/
        types: [python]

  - repo: local
    hooks:
      - id: ipynb-black
        name: ipynb-black
        entry: poetry run nbqa black
        args: [--diff, --check]
        language: system
        files: ^notebooks/
        types: [jupyter]

  - repo: local
    hooks:
      - id: ipynb-isort
        name: ipynb-isort
        entry: poetry run nbqa isort
        args: [--diff, --check-only]
        language: system
        files: ^notebooks/
        types: [jupyter]

  - repo: local
    hooks:
      - id: ipynb-flake8
        name: ipynb-flake8
        entry: poetry run nbqa flake8
        args: [--show-source, --statistics]
        language: system
        files: ^notebooks/
        types: [jupyter]

  - repo: local
    hooks:
      - id: poetry-export-main
        name: poetry-export-main
        entry: poetry export
        args: [-f, requirements.txt, --without-hashes, -o, requirements.txt]
        language: system
        files: ^pyproject\.toml$|^poetry\.lock$
        pass_filenames: false

  - repo: local
    hooks:
      - id: poetry-export-dev
        name: poetry-export-dev
        entry: poetry export
        args: [-f, requirements.txt, --without-hashes, --with, dev, -o, requirements-dev.txt]
        language: system
        files: ^pyproject\.toml$|^poetry\.lock$
        pass_filenames: false

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: poetry run shellcheck
        language: system
        files: ^scripts/
        types: [shell]

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        entry: poetry run shfmt
        args: [-i, '2', -d]
        language: system
        files: ^scripts/
        types: [shell]

Update `inspect_predictions.ipynb`
  notebooks/inspect_predictions.ipynb
Due: ipynb-black, ipynb-isort, ipynb-flake8

Update domain embeddings notebook
  notebooks/visualize_domain_embeddings.ipynb
Due: ipynb-black, ipynb-isort, ipynb-flake8

Update results visualization notebook
  notebooks/visualize_results.ipynb
Due: ipynb-black, ipynb-isort, ipynb-flake8

Update predictions inspection notebook
  notebooks/inspect_predictions.ipynb
Due: ipynb-black, ipynb-isort, ipynb-flake8

Re-tab `.gitmodules`
  .gitmodules
Due: none

Update readme
  README.md
Due: none

Update notebook for inspection prediction
  notebooks/inspect_predictions.ipynb
Due: ipynb-black, ipynb-isort, ipynb-flake8

Update static CI job name
  .github/workflows/static.yml
Due: none

Add CUDA version in readme
  README.md
Due: none

Add bibtex citation to readme
  README.md
Due: none

Minor readme wording fix
  README.md
Due: none

Add additional details for usage in readme
  README.md
Due: none

Further simplification of language in readme
  README.md
Due: none

Add assets to `data` with flowchart
  data/assets/privacy_glue_flowchart.png
Due: none

Update readme with paper-related details
  README.md
Due: none

Update readme with more task details
  README.md
Due: none

Add leaderboard to readme
  README.md
Due: none

Update python dependencies with `tabulate`
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: poetry-export-main, poetry-export-dev

Major improvement to readme
  README.md
Due: none

Update information on ARR submission
  README.md
Due: none

Add explicit pandas dependency
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: poetry-export-main, poetry-export-dev

Add table of contents in readme
  README.md
Due: none
