Repository infsys-lab/privacy-glue: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style, python-import, python-lint, python-deploy-main, python-deploy-dev

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-style
        name: black
        entry: poetry run black
        args: [--diff, --check]
        language: system
        files: ^src/|^tests/
        types: [python]

  - repo: local
    hooks:
      - id: python-import
        name: isort
        entry: poetry run isort
        args: [--diff, --check-only]
        language: system
        files: ^src/|^tests/
        types: [python]

  - repo: local
    hooks:
      - id: python-lint
        name: flake8
        entry: poetry run flake8
        args: [--show-source, --statistics]
        language: system
        files: ^src/|^tests/
        types: [python]

  - repo: local
    hooks:
      - id: python-deploy-main
        name: poetry-export-main
        entry: poetry export
        args: [-f, requirements.txt, --without-hashes, -o, requirements.txt]
        language: system
        files: ^pyproject\.toml$|^poetry\.lock$
        pass_filenames: false

  - repo: local
    hooks:
      - id: python-deploy-dev
        name: poetry-export-dev
        entry: poetry export
        args: [-f, requirements.txt, --without-hashes, --dev, -o, requirements-dev.txt]
        language: system
        files: ^pyproject\.toml$|^poetry\.lock$
        pass_filenames: false

  - repo: local
    hooks:
      - id: shell-lint
        name: shellcheck
        entry: poetry run shellcheck
        language: system
        files: ^scripts/
        types: [shell]

  - repo: local
    hooks:
      - id: shell-style
        name: shfmt
        entry: poetry run shfmt
        args: [-i, '2', -d]
        language: system
        files: ^scripts/
        types: [shell]

Change default coverage report directory to `coverage`
  .flake8
  pyproject.toml
Due: python-deploy-main, python-deploy-dev

Change parser behaviour w.r.t. `early_stopping_patience`
  scripts/run_privacy_glue.sh
  src/parser.py
  src/reading_comprehension.py
  src/sequence_classification.py
  tests/test_reading_comprehension.py
  tests/test_sequence_classification.py
Due: python-style, python-import, python-lint

Update integration tests
  tests/test_reproducibility.py
Due: python-style, python-import, python-lint

Update `run_privacy_glue.sh`
  scripts/run_privacy_glue.sh
Due: none

Update readme
  README.md
Due: none

Update default `preprocessing_num_workers` in tests
  tests/conftest.py
  tests/test_reading_comprehension.py
  tests/test_sequence_classification.py
Due: python-style, python-import, python-lint

Add initial integration test
  tests/test_reproducibility.py
Due: python-style, python-import, python-lint

Remove `--fp16_full_eval` from integration tests
  tests/test_reproducibility.py
Due: python-style, python-import, python-lint

Clarify minor details in readme
  README.md
Due: none

Update readme integration test instructions
  README.md
Due: none

Simplify integration tests significantly
  Makefile
  tests/test_reproducibility.py
Due: python-style, python-import, python-lint

Add new integration test for reproducibility on continuation
  tests/test_reproducibility.py
Due: python-style, python-import, python-lint

Increase number of random seed iterations to 10
  src/parser.py
Due: python-style, python-import, python-lint

Remove accumulation steps since we never use these arguments
  scripts/run_privacy_glue.sh
Due: none

Run `isort` on all files
  src/privacy_glue.py
  src/sequence_classification.py
  src/utils/experiment_utils.py
  src/utils/pipeline_utils.py
  tests/test_parser.py
Due: python-style, python-import, python-lint

Disable `wandb` console logs by default
  src/utils/pipeline_utils.py
Due: python-style, python-import, python-lint

Update `group_id` and `name` in WANDB
  src/utils/experiment_utils.py
  src/utils/pipeline_utils.py
  tests/utils/test_experiment_utils.py
Due: python-style, python-import, python-lint

Improve unit tests for `_init_wandb_run`
  tests/utils/test_pipeline_utils.py
Due: python-style, python-import, python-lint

Update `pyproject.toml` w.r.t. `isort`
  pyproject.toml
Due: python-deploy-main, python-deploy-dev

Fix `wandb` resume training issue
  src/utils/experiment_utils.py
  src/utils/pipeline_utils.py
  tests/conftest.py
  tests/utils/test_experiment_utils.py
  tests/utils/test_pipeline_utils.py
Due: python-style, python-import, python-lint

Remove explicit `resume` call in `wandb.init`
  src/utils/pipeline_utils.py
  tests/utils/test_pipeline_utils.py
Due: python-style, python-import, python-lint

run isort
  src/sequence_tagging.py
  src/tasks/piextract.py
  src/tasks/policy_ie_b.py
  src/utils/model_utils.py
  src/utils/pipeline_utils.py
  tests/test_sequence_tagging.py
Due: python-style, python-import, python-lint

Remove pre-created `tests/reports/` directory
  .gitignore
  tests/reports/.gitignore
Due: none

Move `wandb_group` definition one-level up
  src/utils/experiment_utils.py
Due: python-style, python-import, python-lint

Update `__init__` method of generic pipeline
  src/utils/pipeline_utils.py
  tests/utils/test_pipeline_utils.py
Due: python-style, python-import, python-lint

Increase logging frequency to every 100 steps
  scripts/run_privacy_glue.sh
Due: none

add tests for the multitask model
  tests/utils/test_model_utils.py
Due: python-style, python-import, python-lint
