Repository infsys-lab/privacy-glue: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-lint, python-style, python-deploy-main, python-deploy-dev

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-lint
        name: flake8
        entry: poetry run black --diff --check .
        language: system
        files: ^src/|^tests/|^pyproject\.toml$|^poetry\.lock$|^\.flake8$
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: python-style
        name: black
        entry: poetry run flake8 --show-source --statistics .
        language: system
        files: ^src/|^tests/|^pyproject\.toml$|^poetry\.lock$|^\.flake8$
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: python-deploy-main
        name: poetry-export-main
        entry: |
          poetry export -f requirements.txt --without-hashes -o requirements.txt
        language: system
        files: ^pyproject\.toml$|^poetry\.lock$
        types: [file]
        pass_filenames: false

  - repo: local
    hooks:
      - id: python-deploy-dev
        name: poetry-export-dev
        entry: |
          poetry export -f requirements.txt --without-hashes --dev -o requirements-dev.txt
        language: system
        files: ^pyproject\.toml$|^poetry\.lock$
        types: [file]
        pass_filenames: false

  - repo: local
    hooks:
      - id: shell-lint
        name: shellcheck
        entry: poetry run bash -c 'find ./scripts -type f -print0 | xargs -0 shellcheck'
        language: system
        files: ^scripts/
        types: [shell]
        pass_filenames: false

  - repo: local
    hooks:
      - id: shell-style
        name: shfmt
        entry: poetry run bash -c 'find ./scripts -type f -print0 | xargs -0 shfmt -i 2 -d'
        language: system
        files: ^scripts/
        types: [shell]
        pass_filenames: false

Update tests for `policy_detection`
  tests/data/policy_detection/split_ids.json
  tests/tasks/test_policy_detection.py
Due: python-lint, python-style

Add Mousavi et al. (2020) to task table
  README.md
Due: none

Update task table with more readable format
  README.md
Due: none

Update readme
  README.md
Due: none

Update `pyproject.toml` with mypy error codes
  pyproject.toml
Due: python-deploy-main, python-deploy-dev

Major `mypy` fixes
  src/parser.py
  src/privacy_glue.py
  src/tasks/piextract.py
  src/tasks/policy_ie_a.py
  src/tasks/policy_ie_b.py
  src/tasks/policy_qa.py
  src/utils/parser_utils.py
Due: python-lint, python-style

Remove runtime assertions in `src/tasks`
  src/tasks/piextract.py
  src/tasks/policy_detection.py
Due: python-lint, python-style

Update `privacy_glue.py`
  src/privacy_glue.py
Due: python-lint, python-style

Update parser tests
  tests/test_parser.py
Due: python-lint, python-style

Rename wrongly spelled function for `test_parser.py`
  tests/test_parser.py
Due: python-lint, python-style

Split tests into several for `DataArguments`
  tests/test_parser.py
Due: python-lint, python-style

Update runs gitignore
  runs/.gitignore
Due: none

Add new `data_utils.py`
  src/utils/data_utils.py
Due: python-lint, python-style

Bugfix `privacy_glue.py` and modify structure
  src/privacy_glue.py
Due: python-lint, python-style

Revert "Remove runtime assertions in `src/tasks`"
  src/tasks/piextract.py
  src/tasks/policy_detection.py
Due: python-lint, python-style

Update pre-commit hook configuration
  .pre-commit-config.yaml
Due: none

Update parser with model_revision
  src/parser.py
Due: python-lint, python-style

Update global gitignore
  .gitignore
Due: none

Delete `src/utils/data_utils.py`
  src/utils/data_utils.py
Due: python-lint, python-style

Add `pipeline_utils.py`
  src/utils/pipeline_utils.py
Due: python-lint, python-style

Major simplification of `privacy_glue.py`
  src/privacy_glue.py
Due: python-lint, python-style

Update `pipeline_utils.py`
  src/utils/pipeline_utils.py
Due: python-lint, python-style

Update `prepare.sh`
  scripts/prepare.sh
Due: none

Major update to task-loading functions
  src/tasks/piextract.py
  src/tasks/policy_detection.py
  src/tasks/privacy_qa.py
  tests/data/policy_detection/split_ids.json
  tests/tasks/test_piextract.py
  tests/tasks/test_policy_detection.py
  tests/tasks/test_privacy_qa.py
Due: python-lint, python-style

Re-order methods in `pipeline_utils.py`
  src/utils/pipeline_utils.py
Due: python-lint, python-style

Patch tests for OPP-115
  tests/data/opp_115/test_dataset.csv
  tests/data/opp_115/train_dataset.csv
  tests/data/opp_115/validation_dataset.csv
  tests/tasks/test_opp_115.py
Due: python-lint, python-style

Patch tests for PrivacyQA
  tests/data/privacy_qa/policy_test.tsv
  tests/data/privacy_qa/policy_train.tsv
  tests/tasks/test_privacy_qa.py
Due: python-lint, python-style

Patch tests for Policy-Detection
  tests/data/policy_detection/1301_dataset.csv
  tests/tasks/test_policy_detection.py
Due: python-lint, python-style

Patch tests for PolicyIE-A
  tests/data/policy_ie_a/test/label
  tests/data/policy_ie_a/test/seq.in
  tests/data/policy_ie_a/train/label
  tests/data/policy_ie_a/train/seq.in
  tests/data/policy_ie_a/valid/label
  tests/data/policy_ie_a/valid/seq.in
  tests/tasks/test_policy_ie_a.py
Due: python-lint, python-style

Patch tests for PolicyIE-B
  tests/data/policy_ie_b/test/seq.in
  tests/data/policy_ie_b/test/seq_type_I.out
  tests/data/policy_ie_b/test/seq_type_II.out
  tests/data/policy_ie_b/train/seq.in
  tests/data/policy_ie_b/train/seq_type_I.out
  tests/data/policy_ie_b/train/seq_type_II.out
  tests/data/policy_ie_b/valid/seq.in
  tests/data/policy_ie_b/valid/seq_type_I.out
  tests/data/policy_ie_b/valid/seq_type_II.out
  tests/tasks/test_policy_ie_b.py
Due: python-lint, python-style

Patch tests for PolicyQA
  tests/data/policy_qa/dev.json
  tests/data/policy_qa/test.json
  tests/data/policy_qa/train.json
  tests/tasks/test_policy_qa.py
Due: python-lint, python-style

Add new test for `datasets` random splits
  tests/tasks/test_datasets_random_split.py
Due: python-lint, python-style

Update python dependencies
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: python-deploy-main, python-deploy-dev

Patch tests for PI-Extract
  tests/data/piextract/CollectUse_false/train.conll03
  tests/data/piextract/CollectUse_false/validation.conll03
  tests/data/piextract/CollectUse_true/train.conll03
  tests/data/piextract/CollectUse_true/validation.conll03
  tests/data/piextract/Share_false/train.conll03
  tests/data/piextract/Share_false/validation.conll03
  tests/data/piextract/Share_true/train.conll03
  tests/data/piextract/Share_true/validation.conll03
  tests/tasks/test_piextract.py
Due: python-lint, python-style
