Repository infsys-lab/privacy-glue: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style, python-import, python-lint, python-deploy-main, python-deploy-dev

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-style
        name: black
        entry: poetry run black
        args: [--diff, --check]
        language: system
        files: ^src/|^tests/
        types: [python]

  - repo: local
    hooks:
      - id: python-import
        name: isort
        entry: poetry run isort
        args: [--diff, --check-only]
        language: system
        files: ^src/|^tests/
        types: [python]

  - repo: local
    hooks:
      - id: python-lint
        name: flake8
        entry: poetry run flake8
        args: [--show-source, --statistics]
        language: system
        files: ^src/|^tests/
        types: [python]

  - repo: local
    hooks:
      - id: python-deploy-main
        name: poetry-export-main
        entry: poetry export
        args: [-f, requirements.txt, --without-hashes, -o, requirements.txt]
        language: system
        files: ^pyproject\.toml$|^poetry\.lock$
        pass_filenames: false

  - repo: local
    hooks:
      - id: python-deploy-dev
        name: poetry-export-dev
        entry: poetry export
        args: [-f, requirements.txt, --without-hashes, --dev, -o, requirements-dev.txt]
        language: system
        files: ^pyproject\.toml$|^poetry\.lock$
        pass_filenames: false

  - repo: local
    hooks:
      - id: shell-lint
        name: shellcheck
        entry: poetry run shellcheck
        language: system
        files: ^scripts/
        types: [shell]

  - repo: local
    hooks:
      - id: shell-style
        name: shfmt
        entry: poetry run shfmt
        args: [-i, '2', -d]
        language: system
        files: ^scripts/
        types: [shell]

Move deepcopy segment to experiment manager
  src/utils/experiment_utils.py
  src/utils/pipeline_utils.py
  tests/utils/test_experiment_utils.py
  tests/utils/test_pipeline_utils.py
Due: python-style, python-import, python-lint

Update deep copy test case
  tests/utils/test_experiment_utils.py
Due: python-style, python-import, python-lint

get full branch coverage and delete redundant files
  src/sequence_tagging.py
  src/tasks/piextract.py
  src/tasks/policy_ie_b.py
  src/utils/model_utils.py
  src/utils/task_utils.py
  src/utils/tasks_utils.py
  tests/tasks/test_piextract.py
  tests/tasks/test_policy_ie_b.py
  tests/test_sequence_tagging.py
  tests/utils/test_task_utils.py
Due: python-style, python-import, python-lint

solve small isort errors
  src/sequence_tagging.py
  src/utils/pipeline_utils.py
Due: python-style, python-import, python-lint

Nit: Add space between shebang and import
  src/utils/model_utils.py
Due: python-style, python-import, python-lint

Add explicit JSON indent to all prediction dumps
  src/reading_comprehension.py
  src/sequence_classification.py
  tests/test_reading_comprehension.py
  tests/test_sequence_classification.py
Due: python-style, python-import, python-lint

Enable `--full_determinism` in our entrypoint
  scripts/run_privacy_glue.sh
  tests/test_reproducibility.py
Due: python-style, python-import, python-lint

Update src/sequence_tagging.py
  src/sequence_tagging.py
Due: python-style, python-import, python-lint

Update src/utils/model_utils.py
  src/utils/model_utils.py
Due: python-style, python-import, python-lint

ensure correct padding to maximum output layer size and fix tests
  src/sequence_tagging.py
  src/utils/model_utils.py
  tests/test_sequence_tagging.py
  tests/utils/test_model_utils.py
Due: python-style, python-import, python-lint

be more clever about creating the logits list, integration tests passed, but unittests need some work
  src/utils/model_utils.py
Due: python-style, python-import, python-lint

add the label_all_tokens variable as a field to the parser
  src/parser.py
Due: python-style, python-import, python-lint

add a single dot
  src/parser.py
Due: python-style, python-import, python-lint

remove the hardcoding label_all_tokens line
  src/sequence_tagging.py
Due: python-style, python-import, python-lint

update the model_utils tests to fit new algorithm
  tests/utils/test_model_utils.py
Due: python-style, python-import, python-lint

rename variable name logit_list -> logits, logits -> task_logits
  src/utils/model_utils.py
Due: python-style, python-import, python-lint

Add source code for sequence tagging
  src/parser.py
  src/sequence_tagging.py
  src/tasks/piextract.py
  src/tasks/policy_ie_b.py
  src/utils/model_utils.py
  src/utils/task_utils.py
Due: python-style, python-import, python-lint

Update tests for sequence tagging
  tests/conftest.py
  tests/tasks/test_piextract.py
  tests/tasks/test_policy_ie_b.py
  tests/test_sequence_tagging.py
  tests/utils/test_model_utils.py
  tests/utils/test_task_utils.py
Due: python-style, python-import, python-lint

Minor readme correction
  README.md
Due: none

Update readme task table
  README.md
Due: none

add the notebooks
  notebooks/visualize_results.ipynb
  pyproject.toml
Due: python-deploy-main, python-deploy-dev

Experimental commit for different multi-task model
  scripts/run_privacy_glue.sh
  src/sequence_tagging.py
  src/utils/model_utils.py
  src/utils/trainer_utils.py
  tests/test_reproducibility.py
  tests/utils/test_model_utils.py
Due: python-style, python-import, python-lint

Update pyproject.toml
  pyproject.toml
Due: python-deploy-main, python-deploy-dev

visualisation finished
  notebooks/visualize_results.ipynb
Due: none

notebook now contains some boilerplate code to find interesting mistakes produced by different models.
  notebooks/visualize_results.ipynb
Due: none

begin the captum experiments
  notebooks/interpret_with_captum.ipynb
Due: none

add captum and notbooks for inspecting results and interpreting results
  notebooks/inspect_predictions.ipynb
  notebooks/interpret_with_captum.ipynb
  notebooks/visualize_results.ipynb
  pyproject.toml
Due: python-deploy-main, python-deploy-dev

Patch Makefile
  Makefile
Due: none

Update local requirements files with new poetry
  requirements-dev.txt
  requirements.txt
Due: none

Update readme with link to `poetry`
  README.md
Due: none
