Repository infsys-lab/privacy-glue: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-lint, python-style, python-deploy-main, python-deploy-dev

python-lint:
  name: flake8
  entry: poetry run black --diff --check .
  language: system
  pass_filenames: false

python-style:
  name: black
  entry: poetry run flake8 --show-source --statistics .
  language: system
  pass_filenames: false

python-deploy-main:
  name: poetry-export-main
  entry: 'poetry export -f requirements.txt --without-hashes -o requirements.txt
  
    '
  language: system
  pass_filenames: false

python-deploy-dev:
  name: poetry-export-dev
  entry: 'poetry export -f requirements.txt --without-hashes --dev -o requirements-dev.txt
  
    '
  language: system
  pass_filenames: false

Add simplifications to `Privacy_GLUE_Experiment_Manager`
  src/utils/experiment_utils.py
  tests/utils/test_experiment_utils.py
Due: python-lint, python-style

Use `numpy` instead of `statistics` and `random`
  src/utils/experiment_utils.py
  tests/utils/test_experiment_utils.py
Due: python-lint, python-style

Add extra branch in summarization for handling missing results files
  src/utils/experiment_utils.py
  tests/utils/test_experiment_utils.py
Due: python-lint, python-style

Rename experiment manager class variable
  src/utils/experiment_utils.py
  tests/utils/test_experiment_utils.py
Due: python-lint, python-style

Remove unnecessary `defaultdict`
  src/utils/experiment_utils.py
Due: python-lint, python-style

Add `_summarize` method for experiment manager
  src/utils/experiment_utils.py
  tests/utils/test_experiment_utils.py
Due: python-lint, python-style

Move base `tempdir` from `/tmp` to `./tests/artefacts`
  .gitignore
  pyproject.toml
Due: python-deploy-main, python-deploy-dev

Modify behaviour w.r.t. `overwrite_output_dir`
  src/utils/pipeline_utils.py
  tests/utils/test_pipeline_utils.py
Due: python-lint, python-style

Replace `set_seed` with `enable_full_determinism`
  src/utils/pipeline_utils.py
  tests/utils/test_pipeline_utils.py
Due: python-lint, python-style

Remove integration marker which is currently not required
  pyproject.toml
  tests/tasks/test_piextract.py
Due: python-lint, python-style, python-deploy-main, python-deploy-dev

Add wrapper decorator for `main_process_first_only` in pipelines
  src/utils/pipeline_utils.py
  tests/utils/test_pipeline_utils.py
Due: python-lint, python-style

use data collator to pad dynamically input and label to longest sequence in batch while training
  src/sequence_tagging.py
Due: python-lint, python-style

Spellfix `artefacts` to `artifacts`
  .gitignore
  pyproject.toml
Due: python-deploy-main, python-deploy-dev

Update readme with new information on testing
  README.md
Due: none

Bugfix wrong checkpoint directory in multi-gpu setting
  tests/test_reproducibility.py
Due: python-lint, python-style

Update `pyproject.toml` and `conftest.py`
  pyproject.toml
  tests/conftest.py
Due: python-lint, python-style, python-deploy-main, python-deploy-dev

Add initial integration test
  tests/test_reproducibility.py
Due: python-lint, python-style

Update `conftest.py` with CUDA settings
  tests/conftest.py
Due: python-lint, python-style

Update integration test arguments
  tests/test_reproducibility.py
Due: python-lint, python-style

Bugfix `torchrun` runtime in integration testing
  tests/test_reproducibility.py
Due: python-lint, python-style

Update integration tests
  tests/test_reproducibility.py
Due: python-lint, python-style

first two sequence tagging unit tests
  tests/test_sequence_tagging.py
Due: python-lint, python-style

Add new integration test for reproducibility on continuation
  tests/test_reproducibility.py
Due: python-lint, python-style

Update readme
  README.md
Due: none

Major change to default models
  scripts/run_privacy_glue.sh
  src/parser.py
  tests/test_parser.py
  tests/test_reproducibility.py
Due: python-lint, python-style

Add default model revisions for reproducibility
  src/parser.py
  tests/test_parser.py
Due: python-lint, python-style

Update `run_privacy_glue.sh`
  scripts/run_privacy_glue.sh
Due: none

Change parser behaviour w.r.t. `early_stopping_patience`
  scripts/run_privacy_glue.sh
  src/parser.py
  src/reading_comprehension.py
  src/sequence_classification.py
  tests/test_reading_comprehension.py
  tests/test_sequence_classification.py
Due: python-lint, python-style

Remove `early_stopping_patience` hack in integration testing
  tests/test_reproducibility.py
Due: python-lint, python-style

Change default coverage report directory to `coverage`
  .flake8
  pyproject.toml
Due: python-deploy-main, python-deploy-dev

Update python dependencies
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: python-deploy-main, python-deploy-dev

Path conditions:
  python-lint: any of: ^src/|^tests/|^pyproject\.toml$|^poetry\.lock$|^\.flake8$ and \.py$
  python-style: any of: ^src/|^tests/|^pyproject\.toml$|^poetry\.lock$|^\.flake8$ and \.py$
  python-deploy-main: any of: ^pyproject\.toml$|^poetry\.lock$
  python-deploy-dev: any of: ^pyproject\.toml$|^poetry\.lock$
