Repository infsys-lab/privacy-glue: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style, python-import, python-lint, python-deploy-main, python-deploy-dev

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-style
        name: black
        entry: poetry run black
        args: [--diff, --check]
        language: system
        files: ^src/|^tests/
        types: [python]

  - repo: local
    hooks:
      - id: python-import
        name: isort
        entry: poetry run isort
        args: [--diff, --check-only]
        language: system
        files: ^src/|^tests/
        types: [python]

  - repo: local
    hooks:
      - id: python-lint
        name: flake8
        entry: poetry run flake8
        args: [--show-source, --statistics]
        language: system
        files: ^src/|^tests/
        types: [python]

  - repo: local
    hooks:
      - id: python-deploy-main
        name: poetry-export-main
        entry: poetry export
        args: [-f, requirements.txt, --without-hashes, -o, requirements.txt]
        language: system
        files: ^pyproject\.toml$|^poetry\.lock$
        pass_filenames: false

  - repo: local
    hooks:
      - id: python-deploy-dev
        name: poetry-export-dev
        entry: poetry export
        args: [-f, requirements.txt, --without-hashes, --dev, -o, requirements-dev.txt]
        language: system
        files: ^pyproject\.toml$|^poetry\.lock$
        pass_filenames: false

  - repo: local
    hooks:
      - id: shell-lint
        name: shellcheck
        entry: poetry run shellcheck
        language: system
        files: ^scripts/
        types: [shell]

  - repo: local
    hooks:
      - id: shell-style
        name: shfmt
        entry: poetry run shfmt
        args: [-i, '2', -d]
        language: system
        files: ^scripts/
        types: [shell]

Update default `poetry` version in CI and export commands
  .github/actions/setup-poetry/action.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/static.yml
  .pre-commit-config.yaml
Due: none

Update `pyproject.toml` with new dev group syntax
  pyproject.toml
Due: python-deploy-main, python-deploy-dev

Update `poetry.lock` and requirements files
  poetry.lock
  requirements-dev.txt
  requirements.txt
Due: python-deploy-main, python-deploy-dev

Update readme with link to `poetry`
  README.md
Due: none

Update local requirements files with new poetry
  requirements-dev.txt
  requirements.txt
Due: none

Update readme task table
  README.md
Due: none

Add more fixes for readme table
  README.md
Due: none

Update global gitignore
  .gitignore
Due: none

Update benchmark summary and tests
  src/utils/experiment_utils.py
  tests/utils/test_experiment_utils.py
Due: python-style, python-import, python-lint

Update python dependencies
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: python-deploy-main, python-deploy-dev

Add all notebooks and directory skeleton
  notebooks/data/.gitignore
  notebooks/inspect_predictions.ipynb
  notebooks/visualize_domain_tsne.ipynb
  notebooks/visualize_results.ipynb
Due: none

Update readme for notebooks
  README.md
Due: none

Update python depedencies with `UMAP`
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: python-deploy-main, python-deploy-dev

Rename and update domain embeddings notebook
  notebooks/visualize_domain_embeddings.ipynb
  notebooks/visualize_domain_tsne.ipynb
Due: none

Enrich readme with notebook descriptions and links
  README.md
Due: none

Further enrich readme with better tables
  README.md
Due: none

Update results notebook with feedback
  notebooks/visualize_results.ipynb
Due: none

Update domain embeddings notebook
  notebooks/visualize_domain_embeddings.ipynb
Due: none

Add minor fixes to domain embeddings notebook
  notebooks/visualize_domain_embeddings.ipynb
Due: none

Update `pyproject.toml`, dependencies and pre-commit configuration
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: python-deploy-main, python-deploy-dev

Update benchmark summary workflow
  src/utils/experiment_utils.py
  tests/utils/test_experiment_utils.py
Due: python-style, python-import, python-lint

Add new notebooks for data analysis
  notebooks/data/.gitignore
  notebooks/inspect_predictions.ipynb
  notebooks/visualize_domain_embeddings.ipynb
  notebooks/visualize_results.ipynb
Due: none

Update GitHub static workflow
  .github/workflows/static.yml
Due: none

Update readme with notebook information
  README.md
Due: none

Clean notebooks by removing unused code/dependencies
  notebooks/inspect_predictions.ipynb
  notebooks/visualize_results.ipynb
Due: none

Minor readme reformulation
  README.md
Due: none

Override linguist in `.gitattributes`
  .gitattributes
Due: none
