Repository infsys-lab/privacy-glue: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-lint, python-style, python-deploy-main, python-deploy-dev

python-lint:
  name: flake8
  entry: poetry run black --diff --check .
  language: system
  pass_filenames: false

python-style:
  name: black
  entry: poetry run flake8 --show-source --statistics .
  language: system
  pass_filenames: false

python-deploy-main:
  name: poetry-export-main
  entry: 'poetry export -f requirements.txt --without-hashes -o requirements.txt
  
    '
  language: system
  pass_filenames: false

python-deploy-dev:
  name: poetry-export-dev
  entry: 'poetry export -f requirements.txt --without-hashes --dev -o requirements-dev.txt
  
    '
  language: system
  pass_filenames: false

Checkout `pipeline_utils.py` from `as/patch-generic-pipeline`
  src/utils/pipeline_utils.py
Due: python-lint, python-style

Checkout `conftest.py` from `as/patch-generic-pipeline`
  tests/conftest.py
Due: python-lint, python-style

Update `conftest.py`
  tests/conftest.py
Due: python-lint, python-style

Add main source code for reading comprehension
  src/reading_comprehension.py
  src/utils/trainer_utils.py
Due: python-lint, python-style

Add initial unit tests for reading comprehension
  tests/test_reading_comprehension.py
Due: python-lint, python-style

Update unit test for `_load_pretrained_model_and_tokenizer`
  tests/test_reading_comprehension.py
Due: python-lint, python-style

first working exmaple of multitask learning piextract
  src/sequence_tagging.py
Due: python-lint, python-style

formatting, linting
  src/sequence_tagging.py
Due: python-lint, python-style

eliminate if statement
  src/sequence_tagging.py
Due: python-lint, python-style

add static label info for policy_ie_b
  src/sequence_tagging.py
Due: python-lint, python-style

working evaluation
  src/sequence_tagging.py
Due: python-lint, python-style

Update `run_privacy_glue.sh`
  scripts/run_privacy_glue.sh
Due: none

Rename argument `--fp_16` to `--fp16_all`
  scripts/run_privacy_glue.sh
Due: none

make sure labels are correctly decompressed and handle policy_ie_b
  src/sequence_tagging.py
Due: python-lint, python-style

add seqeval to pyproject
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: python-deploy-main, python-deploy-dev

Add dummy pipeline scripts
  src/reading_comprehension.py
  src/sequence_classification.py
  src/sequence_tagging.py
Due: python-lint, python-style

Add dummy pipeline calls to `privacy_glue.py`
  src/privacy_glue.py
Due: python-lint, python-style

Update coverage ignored lines
  pyproject.toml
Due: python-deploy-main, python-deploy-dev

Update `pipeline_utils.py`
  src/utils/pipeline_utils.py
Due: python-lint, python-style

Fix unit tests in `test_parser.py` and `test_parser_utils.py`
  tests/test_parser.py
  tests/utils/test_parser_utils.py
Due: python-lint, python-style

Modify order of parsed namespaces
  src/parser.py
  src/privacy_glue.py
  src/utils/pipeline_utils.py
  tests/test_parser.py
Due: python-lint, python-style

Update `privacy_glue.py`
  src/privacy_glue.py
Due: python-lint, python-style

Add no branch pragmas for coverage
  src/privacy_glue.py
  src/utils/pipeline_utils.py
Due: python-lint, python-style

Add unit tests for `privacy_glue.py`
  tests/test_privacy_glue.py
Due: python-lint, python-style

Add unit tests for `pipeline_utils.py`
  tests/utils/test_pipeline_utils.py
Due: python-lint, python-style

Update parser in `run_privacy_glue.sh`
  scripts/run_privacy_glue.sh
Due: none

Major update for `run_privacy_glue.sh`
  scripts/run_privacy_glue.sh
Due: none

Use f-strings everywhere
  src/parser.py
  src/privacy_glue.py
  src/tasks/opp_115.py
  src/utils/pipeline_utils.py
Due: python-lint, python-style

Update initial logging in generic pipeline
  src/utils/pipeline_utils.py
  tests/utils/test_pipeline_utils.py
Due: python-lint, python-style

Bugfix saving success file
  src/utils/pipeline_utils.py
  tests/utils/test_pipeline_utils.py
Due: python-lint, python-style

Move `do_clean` workflow into generic pipeline
  src/utils/pipeline_utils.py
  tests/conftest.py
  tests/utils/test_pipeline_utils.py
Due: python-lint, python-style

Update `pyproject.toml`
  pyproject.toml
Due: python-deploy-main, python-deploy-dev

Update `privacy_glue.py` to run dummy pipelines
  src/privacy_glue.py
Due: python-lint, python-style

Major improvements to `pipeline_utils.py`
  src/utils/pipeline_utils.py
Due: python-lint, python-style

Path conditions:
  python-lint: any of: ^src/|^tests/|^pyproject\.toml$|^poetry\.lock$|^\.flake8$ and \.py$
  python-style: any of: ^src/|^tests/|^pyproject\.toml$|^poetry\.lock$|^\.flake8$ and \.py$
  python-deploy-main: any of: ^pyproject\.toml$|^poetry\.lock$
  python-deploy-dev: any of: ^pyproject\.toml$|^poetry\.lock$
